html, body, .values-container {
  height: 100%;
}

.fa-arrow-down {
	color: red;
}

.fa-arrow-up {
	color: green;
}

.currency-logo img {
	height: 100px;
}

body {
	background-color: #009688;
}

.currency-container {
	padding: 5px;
}

nav a {
	color: black !important;
}

nav {
	background-color: white;
}

nav .brand-logo {
	padding-left: 10px;
}

